

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html, body #fullheight {
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    height: 100%;
    background-color: black;
}

.espaco {
    padding-top: 600px;
}

.resultado {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    height: 39%;
}

.resultado span {
    margin-right: 63px;
    font-size: 210px;
    justify-self: flex-end;
}

.botoes {
    width: 100%;
    height: 60%;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    border-radius: 100%;
    width: 210px;
    height: 210px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}
.item:active {
    background-color: rgb(122, 121, 121);
}

.item3:active {
    background-color: white;
    color: #4187f6;
}

.item1:active {
    background-color: rgb(218, 214, 214);
}

.porcentagem {
    background-color: #A5A5A5;
    border: none;
    color: black;
}

.item1 {
    background-color: #A5A5A5;
    border: none;
}

.item3 {
    background-color: #4187f6;
    border: none;
}

.numeros, .virgula {
    background-color: #343434;
    border: none;
}

.negativo, .limpar {
    color: black;
}

.vezes {
    padding-top: 2px;
}

.menos {
    padding-top: 2px;
    font-size: 140px;
}

.item0 {
    background-color: #343434;
    width: 445px;
    border-radius: 135px;
    grid-column: span 2;
    border: none;
}

.selectedSigh {
    background-color: white;
    color: #4187f6;
}

.changedStyles {
    font-size: 10px;
}